@model ProjectManagementTool.Models.RegisterViewModel
@{
    ViewBag.Title = "- Add User";
}

<h2>Add User</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>*@
    @*<div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.Status, new { @class = "col-md-2 control-label" })
        <div class="col-md-9">
            @Html.RadioButtonFor(m => m.Status, "Active", new { @checked = true }) Active
            @Html.RadioButtonFor(m => m.Status, "Inactive") Inactive
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Designation, new { @class = "col-md-2 control-label" })
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.Designation, Model.Roles, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Designation</th>
            <th>Status</th>
            @*<th>Reset Password</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>@item.Designation</td>
                <td>@item.Status</td>
                @*<td>
                    @Html.ActionLink("Set as default", "#", "#")
                </td>*@
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
